*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* --text-title-color: rgb(106,240,252); */
  --text-title-color: rgb(54,78,112);
  --color-blue: #58dcf7;
  --color-light-blue: rgb(181,250,244);
  --color-white: #fff;
}

body{
  user-select: none;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/img/1592237540_Guide-Raid-Shadow-Legends.jpg');
}

.wrapper{
  height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h1{
  padding: 0 0 30px 0;
  letter-spacing: 5px;
  color: var(--text-title-color);
  text-shadow: 0 0 15px var(--color-light-blue), -1px 0 1px var(--color-blue);
}

.accordion{
  width: 100%;
  margin: 30px 0;
}

.accordion__item{
  max-width: 600px;
  margin: 0px auto;
  padding-bottom: 15px;
  border-top: 1px solid var(--color-light-blue);
  cursor: pointer;
}

.accordion__block{
  display: none;
  width: 100%;
  padding: 20px 0 10px 0;
}

.accordion__input{
  appearance: none;
}

.accordion__picture{
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(181,250,244,0.25), 0 10px 10px rgba(54,78,112,0.25);
  width: 90%;
  background-size: auto;
}

.accordion__title{
  display: block;
  font-size: 18px;
  letter-spacing: 2px;
  color: var(--color-white);
  cursor: pointer;
}

.accordion__title:hover{
  color: var(--color-blue);
  text-shadow: 0 0 15px var(--color-light-blue), -1px 0 1px var(--color-blue);
  transition: all .3s ease-in-out;
}

.accordion__input:checked ~ .accordion__block{
  display: block;
}

.accordion__input:checked ~ .accordion__title{
  color: var(--color-blue);
  text-shadow: 0 0 15px var(--color-light-blue), -1px 0 1px var(--color-blue);
}

@media screen and (min-width: 1920px) {
  .accordion__item{
    min-width: 1000px;
    color: red;
  }

  .wrapper h1{
    font-size: 45px;
  }

  .accordion__title{
    font-size: 28px;
  }
}


@media screen and (max-width: 320px) {
  .wrapper h1{
    font-size: 28px;
  }

  .accordion__title{
    font-size: 14px;
  }
}



