*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-title-color: rgb(54,78,112);
  --color-blue: #58dcf7;
  --color-light-blue: rgb(181,250,244);
  --color-white: #fff;
}

body{
  user-select: none;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/img/1592237540_Guide-Raid-Shadow-Legends.jpg');
}

.wrapper{
  padding: 4% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper h1{
  font-size: 2.5rem;
  letter-spacing: 0.313rem;
  color: var(--text-title-color);
  text-shadow: 0 0 0.938rem var(--color-light-blue), -0.063rem 0 0.063rem var(--color-blue);
}

.accordion{
  width: 100%;
  margin: 1.875rem 0;
}

.accordion__title span{
  opacity: 0;
}

.accordion__input{
  appearance: none;
}

.accordion__label{
  color: var(--color-white);
  cursor: pointer;
}

.accordion__item{
  max-width: 37.5rem;
  margin: 0 auto;
  padding-bottom: 0.94rem;
  border-top: 0.063rem solid var(--color-light-blue);
  cursor: pointer;
}

.accordion__title{
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.125rem;
}

.accordion__block{
  display: flex;
  justify-content: center;
  opacity: 0;
}

.accordion__picture{
  max-width: 85%;
  max-height: 85%;
  border-radius: 0.625rem;
  box-shadow: 0 0.938rem 1.875rem rgba(181,250,244,0.25), 0 0.625rem 0.625rem rgba(54,78,112,0.25);
  width: 90%;
  background-size: auto;
}

footer div{
  display: flex;
}

.logo
{
  width: 6.25rem;
  height: 6.25rem;
}

/* ------------------------------------------checked - effect------------------------------------------ */
.accordion__input:checked + .accordion__label .accordion__block{
  max-height: 80%;
}

.accordion__input:checked ~ .accordion__label .accordion__title{
  color: var(--color-light-blue);
  text-shadow: 0 0 0.938rem var(--color-light-blue), -0.063rem 0 0.063rem var(--color-blue);
}

.accordion__input:checked ~ .accordion__label .accordion__title span{
  color: var(--color-blue);
  text-shadow: none;
  transition: .3s;
  transform: rotate(180deg);
}

.accordion__input:checked + .accordion__label .accordion__block{
  max-height: 80%;
  transition: 1s;
  opacity: 1;
}

/* ------------------------------------------hover - effect------------------------------------------ */
/* .accordion:hover .accordion__title{
  color: wheat;
  color: var(--color-light-blue);
  text-shadow: 0 0 0.938rem var(--color-light-blue), -0.063rem 0 0.063rem var(--color-blue);
}

.accordion:hover .accordion__title span{
  opacity: 1;
}

.accordion__title:hover{
  color: var(--color-blue);
  text-shadow: 0 0 0.938rem var(--color-light-blue), -0.063rem 0 0.063rem var(--color-blue);
  transition: all .3s ease-in-out;
}

.accordion__input:hover ~ .accordion__label .accordion__title span{
  color: var(--color-blue);
  text-shadow: none;
  transform: rotate(180deg);
  transition: .3s;
}

.accordion__input:hover + .accordion__label .accordion__block{
  max-height: 80%;
  transition: 1s ease-in;
  opacity: 1;
} */

/* ------------------------------------------smooth - effect------------------------------------------ */
.accordion__input + .accordion__label .accordion__block{
  transition: .3s;
  max-height: 0rem;
}

/* ------------------------------------------hover - hover------------------------------------------ */
@media (hover: hover){
  .accordion:hover .accordion__title{
    /* color: wheat; */
    color: var(--color-light-blue);
    text-shadow: 0 0 0.938rem var(--color-light-blue), -0.063rem 0 0.063rem var(--color-blue);
  }
  
  .accordion:hover .accordion__title span{
    opacity: 1;
  }
  
  .accordion__title:hover{
    color: var(--color-blue);
    text-shadow: 0 0 0.938rem var(--color-light-blue), -0.063rem 0 0.063rem var(--color-blue);
    transition: all .3s ease-in-out;
  }
  
  .accordion__input:hover ~ .accordion__label .accordion__title span{
    color: var(--color-blue);
    text-shadow: none;
    transform: rotate(180deg);
    transition: .3s;
  }
  
  .accordion__input:hover + .accordion__label .accordion__block{
    max-height: 80%;
    transition: 1s ease-in;
    opacity: 1;
  }
}

/* ------------------------------------------media------------------------------------------ */
@media screen and (max-width: 820px) {
  .wrapper h1{
    font-size: 1.75rem;
  }

  .accordion__title h2{
    font-size: 1.125rem;
  }

  .accordion__title span{
    opacity: 1;
  }
}

@media screen and (max-width: 320px) {
  .wrapper h1{
    font-size: 1.3rem;
  }

  .accordion__title h2{
    font-size: 0.875rem;
  }

  .accordion__title span{
    opacity: 1;
  }
} 